runtime/tools/Web-Karma-2.2.tar.bz2 filter=lfs diff=lfs merge=lfs -text
runtime/tools/morph-rdb.tar.bz2 filter=lfs diff=lfs merge=lfs -text
runtime/tools/rmlmapper-java.tar.bz2 filter=lfs diff=lfs merge=lfs -text
